Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
_UpgradeReport_Files/
UpgradeLog.htm
UpgradeLog.XML
packages
Jazani.ICL.Datos/bin
Jazani.ICL.Datos/obj
Jazani.ICL.Servicios/bin
Jazani.ICL.Servicios/obj
Jazani.ICL.ApiWeb/bin
Jazani.ICL.ApiWeb/obj

# Visual Studio 2015/2017/2019 cache/options directory
.vs/